* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #8cc84c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.wrapper {
  background-color: #fff;
  border-radius: 10px;
  width: 400px;
  padding: 20px;
}
.title {
  font-size: 22px;
}
.content {
  border: 1px solid #888;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.content li {
    background: green;
    color: #fff;
    border-radius: 3px;
    list-style: none;
    margin: 4px 3px;
    padding: 10px;
}
.content li i {
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
}
.content input {
    border: none;
    outline: none;
    font-size: 20px;
    margin: 10px;
    width: 100%;
}
.remove-all {
    background-color: #8cc84c;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.remove-all:hover {
    background-color: green;
}