* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
.carousel {
  position: relative;
  overflow: hidden;
}
.carousel .carousel-inner {
  display: flex;
  transition: translate 0.4s ease;
}
.carousel .carousel-nav span {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: gray;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}
.carousel .carousel-nav span.prev {
  left: 5px;
}
.carousel .carousel-nav span.next {
  right: 5px;
}

.carousel .carousel-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  gap: 10px;
}

.carousel .carousel-dots span {
  display: block;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.carousel .carousel-dots span.active {
  background: gold;
}
